.mobile-chat-header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sidebar-background);
    padding: 8px 24px 8px 16px;
    color: white;
    gap: 1rem;
}

.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.user-avatar-and-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}